.content {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    vertical-align: middle;
}

.links {
    text-align: center;
}

.github-link {
    color: black;
    background-color: white;
    border: 3px solid black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 30px;
    transition: 400ms;
}

.github-link:hover {
    background-color: black;
    color: white;
}

.linkedin-link {
    background-color: white;
    color: rgb(22, 74, 126);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    border: 3px solid rgb(22, 74, 126);
    margin-right: 10px;
    text-decoration: none;
    font-size: 30px;
    transition: 400ms;
}

.linkedin-link:hover {
    background-color: rgb(22, 74, 126);
    color: white;
}

.instagram-link {
    background-color: white;
    color: rgb(220, 91, 130);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    border: 3px solid rgb(220, 91, 130);
    margin-right: 10px;
    text-decoration: none;
    font-size: 30px;
    transition: 400ms;
}

.instagram-link:hover {
    background-color: rgb(220, 91, 130);
    color: white;
}